body{
	height: 100vh;
	background: linear-gradient(rgba(3, 17, 22, 0.7), rgba(151, 18, 18, 0.7)), url(bg-img/bg.jpg);
	background-size: cover;
	background-position: center;	
}

.container{
	color: #fff;
}